# Ignore IntelliJ IDEA project files
.idea/
*.iml
*.ipr
*.iws

# Ignore Maven wrapper files
.mvn/
target/
logs/
*.log

# Don't ignore Maven wrapper jar
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Eclipse project files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans project files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code project files
.vscode/

# Mac OS files
.DS_Store

# Ignore security package and its contents
src/main/java/com/example/javaweb_sem4_1/security/
